*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

   
  
}



a{
    text-decoration: none;
    color:black;
    font-family: 'Kalnia', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    transition: 0.2 ease-in;

}
a:hover{
    color: rgb(41, 221, 41);

}
li{
    list-style: none;
}

ul{
    display: flex;  
    gap: 20px;

}
header{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-inline: 40px;
    padding-top: 20px;
    justify-content: space-between;
    
}
.logo{
    display: flex;
    font-family: 'Kalnia', serif;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    gap: 3px;
}

.btn{
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
   
    font-family: 'Poppins', sans-serif;
}
.login{
    background-color: white;
    color: green;
}
.signup{
    background-color:rgb(44, 187, 44);
    color: white;

}


.contain{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin: 20px;
   
}

.head-1{
    text-transform: capitalize;
    

}
.button-two{
    display: flex;
   gap: 450%;
}
.btn-2{
    background-color: rgb(40, 189, 40);
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    

}
/* indro of html */
.html-intro{
    width: 100%;
    height: 200px;
    background-color: #e1eee6;
   
    font-family: 'Poppins', sans-serif;

}
.html-intro{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

ol li{
    margin: 5px;
    list-style-type: disc;
}
.botton-2{
   display: flex;
   gap: 50px;
  
   
}
.button-3{
    background-color: #04AA6D;;
    border: 1px solid white;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 6px;
    padding:10px;
    border-radius:5px ;
    color: white;

    
}
.button-3:hover{
    opacity: .5;
}